.thumbnail img{
    max-height: 150px;
}
.thumbnail .discription{
    color: #7f7f7f;
}
.price{
    font-weight: bold;
    font-size: 16px;
}
#footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #d9d9d9;
}